form {
    display: flex;
    flex-direction:column;
    gap: 0.3em;
}

.genres-container-edit-pop-up {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 2em;
}
form .btn {
    width: fit-content;
    margin: 15px 0;
}